
$viktor-bg-color: #0d0d0d; // Couleur de fond plus sombre pour un effet technologique
$viktor-primary-color: #00bfff;
$viktor-secondary-color: #0097a7;
$viktor-text-color: #ffffff;
$viktor-highlight-color: #ffeb3b;

.viktor {
  padding: 20px;
  background-color: $viktor-bg-color;
  color: $viktor-text-color;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $viktor-highlight-color;
  }

  .viktor-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: $viktor-secondary-color;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    color: $viktor-primary-color;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;

    &:hover {
      background-color: lighten($viktor-highlight-color, 10%);
      text-decoration: underline;
    }
  }

  h2 {
    font-family: 'IM Fell English', serif;
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid $viktor-primary-color;
    padding-bottom: 5px;
  }

  h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin-top: 15px;
    color: $viktor-highlight-color;
  }

  p, ul {
    font-size: 1rem;
    line-height: 1.5;
  }

  .bio ul, .powers ul, .appearances ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;

    li {
      background-color: lighten($viktor-bg-color, 10%);
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
      border-left: 4px solid $viktor-primary-color;
    }
  }

  .powers ul li, .appearances ul li {
    margin-bottom: 10px;
  }
}

