$viktor-bg-color: #0d0d0d; // Couleur de fond plus sombre pour un effet technologique
$viktor-primary-color: #00bfff;
$viktor-secondary-color: #0097a7;
$viktor-text-color: #ffffff;
$viktor-highlight-color: #ffeb3b;

.viktor {
  padding: 20px;
  background-color: $viktor-bg-color;
  color: $viktor-text-color;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $viktor-highlight-color;
  }

  .viktor-image {
    text-align: center; /* Centre le contenu horizontalement */
  }

  .viktor-image img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: $viktor-secondary-color;
    border-radius: 5px;
    margin-bottom: 20px;
    display: grid; /* Utilise Grid pour la disposition */
    grid-template-columns: repeat(3, 1fr);
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    color: $viktor-primary-color;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;

    &:hover {
      background-color: lighten($viktor-highlight-color, 10%);
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid $viktor-primary-color;
    padding-bottom: 5px;
    text-align: center; // Assure le centrage des sous-titres
  }

  h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin-top: 15px;
    color: $viktor-highlight-color;
  }

  p, ul {
    font-size: 1rem;
    line-height: 1.5;
  }

  .bio ul, .powers ul, .appearances ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;

    li {
      background-color: lighten($viktor-bg-color, 10%);
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
      border-left: 4px solid $viktor-primary-color;
    }
  }

  .powers ul li, .appearances ul li {
    margin-bottom: 10px;
  }
}

/* Media Queries pour rendre la page responsive */
@media (max-width: 1200px) {
  .viktor h1 {
    font-size: 2.25rem;
  }

  .viktor .viktor-image img {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .viktor h1 {
    font-size: 2rem;
  }

  .viktor .viktor-image img {
    width: 90%;
  }

  nav ul {
    gap: 5%;
  }
}

@media (max-width: 768px) {
  .viktor h1 {
    font-size: 1.75rem;
  }

  .viktor .viktor-image img {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li a {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .viktor h1 {
    font-size: 1.5rem;
  }

  .viktor .viktor-image img {
    width: 100%;
  }

  .viktor {
    padding: 10px;
  }

  nav ul {
    gap: 0;
  }

  nav li a {
    width: 100%;
    text-align: center;
  }
}
