<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vi - Arcane</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IM+Fell+English:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
  <link rel="stylesheet" href="vi.component.scss">
</head>

<body>
  <main class="history">
    <h1 class="vi-title">
      <span>👊</span> Vi : La combattante protectrice <span>👊</span>
    </h1>
    <img src="assets/Vi.webp" alt="Vi" class="character-image" />

    <p class="story">{{ arcaneStory }}</p>

    <details>
      <summary>Biographie</summary>
      <section class="biography">
        <p>
          Vi est une jeune femme audacieuse, dynamique et puissante, née dans les bas-fonds industriels de Zaun.
          Dotée d'une forte personnalité et de poings mécaniques redoutables, elle est devenue une figure
          emblématique à la fois pour sa ville et pour les spectateurs de la série <strong>Arcane</strong>.
        </p>
      </section>
    </details>

    <details>
      <summary>Origines</summary>
      <section class="background">
        <p>
          Dès son plus jeune âge, Vi a dû apprendre à survivre dans un environnement impitoyable. Orpheline
          dès son adolescence, elle a rapidement assumé un rôle de leader parmi les jeunes démunis de Zaun,
          utilisant son intelligence et sa force pour protéger ses proches.
        </p>
        <p>
          Cependant, son tempérament impulsif l'a souvent conduite dans des situations complexes, créant des
          tensions avec les autorités de Piltover et même avec ceux qu'elle tentait de protéger.
        </p>
      </section>
    </details>

    <details>
      <summary>Relations</summary>
      <section class="relationships">
        <article>
          <h3>Jinx (Powder)</h3>
          <p>
            Vi partage une relation tumultueuse avec sa jeune sœur, Jinx, anciennement connue sous le nom de Powder. Une
            tragédie dans leur jeunesse a brisé leur lien, transformant Powder en Jinx, un personnage imprévisible et
            tourmenté. Malgré cela, Vi conserve un profond amour et une volonté inébranlable de la sauver. Cependant, Vi a
            du mal à accepter Jinx telle qu'elle est devenue et n'a pas fait le deuil de Powder, la jeune sœur qu'elle
            aimait tant. Cette dynamique complique leur relation, car Vi se bat non seulement contre le chaos semé par
            Jinx, mais aussi contre ses propres émotions et souvenirs douloureux.
          </p>
        </article>
        <article>
          <h3>Vander</h3>
          <p>
            Vander est une figure paternelle pour Vi et Jinx. Après la perte de leurs parents, Vander a pris soin d'elles
            et les a protégées dans les rues dangereuses de Zaun. Il a inculqué à Vi des valeurs de protection et de
            responsabilité. Sa mort tragique a profondément marqué Vi, alimentant son désir de justice et de protection.
            Vander a laissé une empreinte indélébile sur Vi, qui continue de guider ses actions et ses décisions.
          </p>
        </article>
        <article>
          <h3>Caitlyn</h3>
          <p>
            La relation entre Vi et Caitlyn se développe au fil de la série, mêlant respect mutuel, camaraderie et une romance naissante. Leur dynamique repose sur leurs forces complémentaires : Caitlyn, venant d'une vie privilégiée à Piltover, apporte une perspective stratégique et morale à Vi, tandis que Vi, forgée par les rues de Zaun, offre une approche pragmatique et une détermination farouche.
          </p>
          <p>
            Dans la saison 2, leur relation est mise à rude épreuve à cause de leurs opinions divergentes sur Jinx. Isha, un personnage clé, joue un rôle important en exposant la complexité de la rédemption de Jinx.
          </p>
          <p>
            Caitlyn, pragmatique et fidèle à son rôle d’Enquêtrice de Piltover, estime que Jinx représente un danger incontrôlable qui doit être arrêté à tout prix. À l'inverse, Vi, toujours tiraillée entre son amour pour sa sœur et sa volonté de protéger les innocents, a une vision différente.
          </p>
          <p>
            Ce désaccord profond mène à une rupture entre Vi et Caitlyn, exacerbée par la pression de leurs rôles respectifs et les blessures émotionnelles laissées par leurs expériences passées.
          </p>
          <p>
            Après leur séparation, Vi vit très mal la rupture. Elle se plonge dans des comportements autodestructeurs, se battant fréquemment dans l'arène de Zaun et cherchant à noyer sa douleur dans l'alcool. Ces actions reflètent son incapacité à gérer ses émotions et son sentiment de perte.
          </p>
          <p>
            Malgré leur éloignement, leur amour mutuel reste évident à travers leurs interactions. Caitlyn est hantée par l'idée de savoir si elle a fait le bon choix en mettant une distance entre elles, tandis que Vi lutte pour retrouver un sens à sa vie sans elle.
          </p>
          <p>
            Finalement, après une série d’événements où elles doivent travailler ensemble face à une menace commune, elles réalisent que leurs forces complémentaires et leur connexion émotionnelle sont trop importantes pour être ignorées. Elles parviennent à surmonter leurs différends, Caitlyn apprenant à mieux comprendre l'attachement de Vi à Jinx, et Vi acceptant que Caitlyn ait ses propres responsabilités et perspectives.
          </p>
          <p>
            Leur réconciliation marque un nouveau départ pour leur relation, désormais fondée sur une compréhension mutuelle plus profonde et une acceptation des différences. Leur partenariat se transforme en une alliance encore plus forte, mêlant amour, respect et une complicité renforcée par les épreuves traversées ensemble.
          </p>

        </article>
      </section>
    </details>

    <details>
      <summary>Capacités</summary>
      <section class="abilities">
        <ul>
          <li><strong>Force physique :</strong> Vi est une combattante redoutable, utilisant ses poings mécaniques
            pour infliger des dégâts dévastateurs.</li>
          <li><strong>Leadership :</strong> Son charisme naturel et son esprit combatif font d'elle une leader respectée.
          </li>
          <li><strong>Résilience :</strong> Malgré les épreuves, Vi fait preuve d'une détermination inébranlable à
            atteindre ses objectifs.</li>
        </ul>
      </section>
    </details>

    <details>
      <summary>Thèmes</summary>
      <section class="themes">
        <p>
          Vi incarne plusieurs thèmes clés dans <strong>Arcane</strong> : le conflit entre devoir et famille,
          la lutte pour l'égalité entre Piltover et Zaun, et le parcours de rédemption. Son histoire illustre
          la résilience face à l'adversité et la complexité des relations humaines.
        </p>
      </section>
    </details>

    <details>
      <summary>Aspect Psychologique</summary>
      <section class="psychological-aspect">
        <p>
          L'aspect psychologique de Vi dans <strong>Arcane</strong> est profondément marqué par son passé difficile, ses
          relations tumultueuses et son combat pour la rédemption.
          En grandissant dans les bas-fonds de Zaun, Vi a dû apprendre à se battre pour survivre. Son tempérament impulsif
          est un reflet direct de ses blessures émotionnelles, issues de la perte de ses parents et des luttes incessantes
          dans son environnement hostile.
          Elle est un personnage résilient, qui, malgré la douleur de son passé, cherche à protéger les autres, en
          particulier sa sœur Jinx. Vi lutte constamment pour surmonter ses traumatismes, et son désir de sauver sa sœur
          montre à quel point l'amour familial reste pour elle une priorité essentielle.
          Cependant, sa force physique, symbolisée par ses poings mécaniques, masque souvent une vulnérabilité intérieure.
          Vi est souvent prise entre son sens du devoir et ses relations personnelles, cherchant à équilibrer ses
          responsabilités avec ses besoins émotionnels.
          Son caractère complexe est également marqué par sa relation avec Caitlyn, qui la pousse à reconsidérer sa vision
          du monde, offrant un contraste avec son monde de violence et de survie. Vi incarne ainsi une lutte constante
          entre la protection, la vengeance et la quête d'une identité plus complète.
        </p>
      </section>
    </details>

    <details>
      <summary>Thème du personnage</summary>
      <p>
        Le thème de Vi est l’amour, mais aussi la rage et la culpabilité. Elle se bat pour protéger ceux qu’elle aime, mais la douleur de son passé la pousse souvent à agir de manière impulsive et violente.
    </details>

    <details>
      <summary>Anecdotes</summary>
      <section class="trivia">
        <ul>
          <li>Le nom complet de Vi est Violet.</li>
          <li>Ses poings métalliques sont appelés "Atlas Gauntlets".</li>
          <li>Vi était l'un des premiers champions de League of Legends à recevoir une chanson thématique officielle.</li>
        </ul>
      </section>
    </details>

<!-- Ajouter l'audio -->
<section class="audio">
  <h2>Écouter "Vi the Piltover Enforcer"</h2>
  <audio controls>
    <source src="/assets/Vi.mp3" type="audio/webm">
    Votre navigateur ne supporte pas la balise audio.
  </audio>
  <img src="/assets/Vi-piltover.jpg" alt="Vi-Piltover" class="character-image" />
</section>
  </main>
  <footer>
    <nav>
      <ul>
        <li *ngFor="let route of routes">
          <a [routerLink]="route.path">{{ route.name }}</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>

</html>
