.history {
  text-align: center;
  padding: 2rem;
}

.history .character-image {
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;
}

.history h1 {
  font-size: 2.5rem;
  color: palevioletred;
  margin-bottom: 1rem;
}

.history p.story {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  text-align: justify;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history ul li {
  display: inline-block;
  margin-right: 15px;
}

.history ul li a {
  font-size: 1.2rem;
  color: palevioletred;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.history ul li a:hover {
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
