
<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IM+Fell+English:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>

<main class="history">
  <h1 class="sevika-title">
     Sevika :  Loyauté d’Acier <span>🦾</span>
  </h1>
  <img src="assets/Sevika.png" alt="Sevika" class="character-image" />

  <section class="background">
    <h2>Origines</h2>
    <details>
      <summary>Lire la suite</summary>
      <p>Sevika est une figure imposante dans les bas-fonds de Zaun, connue pour sa force brute et sa loyauté féroce envers ses alliés. Née dans les quartiers pauvres de Zaun, elle a rapidement appris à utiliser sa force pour survivre et se frayer un chemin dans le monde impitoyable qui l'entoure.</p>
      <p>Son bras mécanique, résultat de blessures de guerre, est devenu un symbole de sa résilience et de son ingéniosité. Sevika est respectée et redoutée à Zaun, où elle a forgé sa réputation par des actions décisives et souvent impitoyables.</p>
    </details>
  </section>

  <section class="relationships">
    <h2>Relations</h2>
    <details>
      <summary>Lire la suite</summary>
      <article>
        <h3>Vander</h3>
        <p>Sevika avait une relation complexe avec Vander, respectant sa force et son leadership tout en étant parfois en désaccord avec ses méthodes plus pacifiques. Après la chute de Vander, Sevika a pris un rôle plus actif dans la lutte pour le contrôle de Zaun, souvent en désaccord avec ceux qui cherchaient à suivre les traces de Vander.</p>
      </article>
      <article>
        <h3>Silco</h3>
        <p>Silco a trouvé en Sevika une alliée précieuse, sa loyauté envers lui étant aussi forte que sa détermination. Sevika considère Silco comme un leader capable de mener Zaun à la grandeur, et elle n'hésite pas à exécuter ses ordres, peu importe le coût.</p>
      </article>
      <article>
        <h3>Jinx</h3>
        <p>La relation entre Sevika et Jinx est teintée de méfiance et de respect mutuel. Si Sevika respecte les compétences de Jinx, elle est aussi consciente de son imprévisibilité. Leur dynamique est souvent tendue, mais chacune reconnaît la valeur de l'autre dans leurs objectifs communs.</p>
      </article>
    </details>
  </section>

  <section class="abilities">
    <h2>Capacités</h2>
    <ul>
      <li><strong>Force physique :</strong> Sevika utilise sa force brute et son bras mécanique pour dominer ses adversaires.</li>
      <li><strong>Stratégie :</strong> Elle a un sens tactique aigu, capable de manœuvrer et de planifier des attaques efficaces.</li>
      <li><strong>Loyauté :</strong> Sa loyauté envers ses alliés la rend digne de confiance et redoutable.</li>
    </ul>
  </section>

  <section class="themes">
    <h2>Thèmes</h2>
    <p>
      Sevika incarne plusieurs thèmes clés : la survie dans un environnement hostile, la loyauté envers les alliés, et la quête de pouvoir. Son histoire reflète la complexité des relations de pouvoir et de la lutte pour le contrôle dans un monde brutal.
    </p>
  </section>

  <section class="psychological-aspect">
    <h2>Aspect Psychologique</h2>
    <details>
      <summary>Lire la suite</summary>
      <p>Sevika est un personnage marqué par la dureté de son environnement. Son tempérament résolu et sa volonté de fer sont nés des nombreuses épreuves qu'elle a traversées. Malgré son apparence dure, elle est profondément loyale envers ceux qu'elle considère comme ses allié(e)s. Son bras mécanique est plus qu'une simple arme; il est le symbole de sa résilience et de sa capacité à se relever face aux défis. Les relations qu'elle entretient, en particulier avec Silco et Jinx, montrent une personnalité complexe et stratégiquement astucieuse, naviguant constamment entre le pouvoir et la survie.</p>
    </details>
  </section>

  <section class="trivia">
    <h2>Anecdotes</h2>
    <ul>
      <li>Sevika a perdu son bras lors d'une bataille contre les autorités de Piltover.</li>
      <li>Son bras mécanique créer par Jinx est équipé de diverses armes et gadgets qu'elle utilise pour le combat.</li>
      <li>Elle est l'une des rares à avoir survécu à plusieurs affrontements directs avec les forces de Piltover.</li>
    </ul>
  </section>
    <!-- Ajouter l'audio -->
    <section class="audio">
      <h2>Écouter "Combat Sevika vs smeech - Stefflon Don"</h2>
      <audio controls>
        <source src="/assets/Stefflon Don.mp3" type="audio/webm">
        Votre navigateur ne supporte pas la balise audio.
      </audio>
    </section>
    <footer>
      <nav>
        <ul>
          <li *ngFor="let route of routes">
            <a [routerLink]="route.path">{{ route.name }}</a>
          </li>
        </ul>
      </nav>
    </footer>
</main>
