<nav>
     <!-- Liens de navigation -->
     <ul class="links">
      <li *ngFor="let route of routes">
        <a [routerLink]="route.path">{{ route.name }}</a>
      </li>
    </ul>
</nav>

<h1>Mentions Légales</h1>

<p>
  Le présent site est un site de fans dédié à la série <strong>Arcane</strong>. Il est indépendant et n'est en aucun cas affilié à Riot Games ou Netflix.
</p>

<h2>Éditeur du site</h2>
<p>
  Le site est conçu et développé par <strong>Sarah Varin</strong>.
</p>

<h2>Hébergement</h2>
<p>
  Le site est hébergé par <strong>Netlify</strong>.
</p>

<h2>Propriété intellectuelle</h2>
<p>
  Tous les éléments graphiques, textes et images présents sur ce site appartiennent à leurs auteurs respectifs. Ce site est un projet non commercial réalisé par des fans.
</p>

<h2>Contact</h2>
<p>
  Pour toute question, vous pouvez contacter Sarah Varin à l'adresse suivante :
  <a href="mailto:sarahvarin95&#64;gmail.com">sarahvarin95&#64;gmail.com</a>.
</p>
