.history {
  font-family: 'Roboto Slab', sans-serif;
  padding: 20px;

  h1 {
    font-size: 2.5rem;
    color: #cf7500; // Couleur cuivre
    text-align: center;
  }

  .story {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 2rem;
    text-align: justify;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    li {
      a {
        color: #cf7500; // Lien en cuivre
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: #ffae42; // Lien en couleur or au hover
        }
      }
    }
  }
}
