@charset "UTF-8";
.memory-game {
  text-align: center;
}

.memory-game ul {
  list-style: none;
  /* Enlève les puces */
  padding: 0;
  /* Enlève le padding par défaut */
  margin: 0;
  /* Enlève les marges par défaut */
  display: flex;
  /* Affiche les éléments en ligne */
  flex-wrap: wrap;
  /* Permet le retour à la ligne si nécessaire */
  justify-content: center;
  /* Centre les éléments horizontalement */
}

.memory-game ul li {
  text-decoration: none;
  padding: 10px;
  /* Ajoute un padding pour espacer le contenu */
  margin: 5px;
  /* Ajoute une marge autour des éléments */
  background: #f9f9f9;
  /* Ajoute un fond clair */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ajoute une ombre légère */
  transition: background-color 0.3s ease;
  /* Animation pour changement de fond */
  border-radius: 5px;
  /* Ajoute des bordures arrondies */
  border: none;
  /* Supprime les bordures standards */
}

.memory-game ul li:hover {
  background-color: #e0e0e0;
  /* Change le fond au survol */
}

.memory-game .timer {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.memory-game .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
}

.memory-game .card {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  position: relative;
}

.memory-game .card.flipped .card-front {
  transform: rotateY(0);
}

.memory-game .card.flipped .card-back {
  transform: rotateY(180deg);
}

.memory-game .card .card-front, .memory-game .card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 8px;
}

.memory-game .card .card-front {
  transform: rotateY(180deg);
}

.memory-game .card .card-back {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-game .card .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .memory-game .timer {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .memory-game .cards-container {
    grid-template-columns: repeat(3, 80px);
    gap: 8px;
    margin: 0 20px;
    /* Ajoute de la marge sur les côtés */
  }
  .memory-game .card {
    width: 80px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .memory-game .timer {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .memory-game .cards-container {
    grid-template-columns: repeat(2, 70px);
    gap: 5px;
    margin: 0 15px;
    /* Augmente la marge sur les petits écrans */
  }
  .memory-game .card {
    width: 70px;
    height: 105px;
  }
}
