
$isha-bg-color: #228b22; // Couleur de fond vert pour symboliser l'espoir
$isha-primary-color: #adff2f;
$isha-secondary-color: #32cd32;
$isha-text-color: #ffffff;
$isha-highlight-color: #fffacd;

.isha {
  padding: 20px;
  background-color: $isha-bg-color;
  color: $isha-text-color;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $isha-highlight-color;
  }

  .isha-image {
    display: flex;
    justify-content: center;

    img {
      width: 50%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
      border: 2px solid $isha-primary-color;
    }
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: $isha-secondary-color;
    border-radius: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  nav li {
    margin: 10px 0;
  }

  nav li a {
    color: $isha-primary-color;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;

    &:hover {
      background-color: lighten($isha-secondary-color, 10%);
      text-decoration: underline;
    }
  }

  h2 {
    font-family: 'IM Fell English', serif;
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid $isha-primary-color;
    padding-bottom: 5px;
  }

  h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin-top: 15px;
    color: $isha-highlight-color;
  }

  p, ul {
    font-size: 1rem;
    line-height: 1.5;
  }

  .bio ul, .powers ul, .appearances ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;

    li {
      background-color: lighten($isha-bg-color, 10%);
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
      border-left: 4px solid $isha-primary-color;
    }
  }

  .powers ul li, .appearances ul li {
    margin-bottom: 10px;
  }
}

/* Media Queries pour rendre la page responsive */
@media (max-width: 1200px) {
  .isha h1 {
    font-size: 2.25rem;
  }

  .isha .isha-image img {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .isha h1 {
    font-size: 2rem;
  }

  .isha .isha-image img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .isha h1 {
    font-size: 1.75rem;
  }

  .isha .isha-image img {
    width: 80%;
  }

  nav ul {
    flex-direction: column;
  }

  nav li a {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .isha h1 {
    font-size: 1.5rem;
  }

  .isha .isha-image img {
    width: 90%;
  }

  nav li a {
    padding: 8px;
  }
}
