@charset "UTF-8";
/* Style global pour les titres H1 */
h1 {
  font-size: 2.5rem;
  /* Taille de la police */
  font-weight: bold;
  /* Gras */
  color: #3498db;
  /* Couleur principale */
  text-align: center;
  /* Centrage horizontal */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Ombre portée */
}

/* Classe spécifique pour les titres personnalisés */
.title {
  font-size: 3rem;
  /* Plus grand pour les cas spécifiques */
  font-weight: 700;
  /* Police encore plus épaisse */
  text-transform: uppercase;
  /* Majuscules */
  letter-spacing: 1px;
  /* Espacement entre les lettres */
  margin-top: 30px;
  /* Espacement supplémentaire en haut */
}

audio {
  width: 25%;
  /* Ajuste la largeur selon vos besoins */
  background-color: #3498db;
  /* Bleu clair pour l'arrière-plan */
  border: 2px solid #ff5733;
  /* Bordure orange */
  border-radius: 8px;
  /* Coins arrondis */
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

audio:hover {
  background-color: #ff5733;
  /* Change en orange au survol */
  transform: scale(1.02);
  /* Légèrement agrandi au survol */
}

audio::-webkit-media-controls-panel {
  background-color: #3498db;
  /* Couleur de fond pour le panneau des contrôles */
  border-radius: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-mute-button {
  background-color: #ff5733;
  /* Boutons orange */
  border-radius: 50%;
  /* Arrondir les boutons */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-pause-button:hover,
audio::-webkit-media-controls-mute-button:hover {
  background-color: #3498db;
  /* Change en bleu au survol */
  transform: scale(1.2);
  /* Légèrement agrandi au survol */
}

ul {
  list-style-type: none;
  /* Supprime les puces */
  padding: 0;
  /* Supprime le padding par défaut */
  margin: 0;
  /* Supprime la marge par défaut */
  text-align: center;
}

li {
  margin: 0.5rem 0;
  /* Ajoute un peu d'espacement vertical entre les éléments */
}

a {
  text-decoration: none;
  /* Supprime le soulignement */
  color: #3498db;
  /* Couleur du lien */
  font-size: 1.2rem;
  /* Taille de police */
  font-weight: bold;
  /* Met en gras */
  transition: color 0.3s ease;
  /* Animation douce pour les couleurs */
}

a:hover {
  color: #ff5733;
  /* Couleur au survol */
}
